{% extends "base.html" %}
{% block content %}
<h4>{{page_title}}</h4>
<p>
   <h4> Have you ever thought of your general health and your lifestyle?
    <br></br>
    <hr><br>Have you recently weight yoursef or have you measured your weist size?
    <br></br>
    <hr><br>Think of yourself and your beloved ones. Check the next figures and see visually and numerically where you consider yourself?
   </h4>
   <br></br>
</p>
<div class="row featurette">
    <div class="col-md-3">
        <h6>
            Calculate your BMI or waist size? Or just visually look carefully and see where you are ?<br><br>
            Do not worry too much. Our teem members are here to help you.<br><br>
            Just focus on yourself. We guaranty your improvement.<br><br>
            You can always reach us withougt worrying about any costs.<br><br>
            Most of our services are free or are very low in cost.<br>


        </h6>

    </div>
    <div class="col-md-6">
        <img src="/static/img/index_bmi.jpg" alt="">
    </div>
 </div>
 <p>
    <h4><br>
        <br>
         Have you ever calculated your BMI (Body Mass Index)?
    </h4>
    <br></br>
 </p>
 <div class="row featurette">
     <div class="col-md-2">
    </div>
     <div class="col-md-12">
         <img src="/static/img/index_bmi_chart_rs.jpg" alt="">
     </div>
  </div>

    </div>

 </div>
{% endblock %}