{% extends "base.html" %}
{% block content %}
<h4>{{page_title}}</h4>
<p>
   <h4> Have you ever thought of your general health and your lifestyle?
    <hr>Have you ever weight yoursef or have you measured your weist size?
    <hr>Please think of yourself and your beloved ones. Check the next figures and see visually and numerically where you consider yourself?
   </h4>
</p>
<div class="row featurette">
    <div class="col-md-7">
        <h6>
            Are you worried about your BMI or waist size? Or just visually look carefully and see where you are ?
        </h6>
        <p>
            Measuring your waist is a good way to check you're not carrying too much fat around your stomach, which
            can raise your risk of heart disease, type 2 diabetes and stroke.<br>

            You can have a healthy BMI and still have excess tummy fat, meaning you're still at risk of developing
            these conditions.<br>
            <ul>
             Regardless of your height or BMI, you are at risk if your waist is:
            
            <li>
            94cm (37ins) or more for men
            </li>
            <li>
            80cm (31.5ins) or more for women
            </li>
            </ul>
            <ul>
            You're at very high risk and should contact a GP if your waist is:
            <li>
            102cm (40ins) or more for men
            </li>
            <li>  
            88cm (34ins) or more for women
            </li>
            </ul>
            </p>    

    </div>
    <div class="col-md-5">
        <img src="/static/img/livehealthy_1.jpg" alt="">
    </div>
 </div>
 <div class="row featurette">
    <div class="col-md-5">
        <img src="/static/img/livehealthy_2.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h6>
            What about children BMI?
        </h6>
        <p>
            For children and young people aged 2 to 18, the BMI calculator takes into account age and gender as well
            as height and
            weight.<br>

            Overweight children are thought to be at increased risk of a variety of health conditions, and they're
            also more likely to be overweight as adults.<br>
            <ul>
            The BMI calculator works out if a child or young person is::
            
            <li>
                underweight – on the 2nd centile or below
            </li>
            <li>
                 healthy weight – between the 2nd and 91st centiles
            </li>
            <li>
                overweight – 91st centile or above
            </li>
            <li>  
                very overweight – 98th centile or above
            </li>
            </ul>
            </p>    

    </div>

 </div>
{% endblock %}