{% extends "base.html" %}
{% block content %}
   <h4>Live Healthy</h4>
    <p>
        To find out if you're a healthy weight for your height, work out your body mass index (BMI).You can easily check
        your BMI. A BMI between 18.5 and 24.9 is considered healthy.
    </p>
    <div class="row featurette">
        <div class="col-md-7">
            <h6>
                Are you worried about your BMI or waist size?
            </h6>
            <p>
                Measuring your waist is a good way to check you're not carrying too much fat around your stomach, which
                can raise your risk of heart disease, type 2 diabetes and stroke.<br>

                You can have a healthy BMI and still have excess tummy fat, meaning you're still at risk of developing
                these conditions.<br>
                <ul>
                 Regardless of your height or BMI, you are at risk if your waist is:
                
                <li>
                94cm (37ins) or more for men
                </li>
                <li>
                80cm (31.5ins) or more for women
                </li>
                </ul>
                <ul>
                You're at very high risk and should contact a GP if your waist is:
                <li>
                102cm (40ins) or more for men
                </li>
                <li>  
                88cm (34ins) or more for women
                </li>
                </ul>
                </p>    

        </div>
        <div class="col-md-5">
            <img src="/static/img/livehealthy_1.jpg" alt="">
        </div>
     </div>
     <div class="row featurette">
        <div class="col-md-5">
            <img src="/static/img/livehealthy_1.jpg" alt="">
        </div>
        <div class="col-md-7">
            <h6>
                Are you worried about your BMI or waist size?
            </h6>
            <p>
                Measuring your waist is a good way to check you're not carrying too much fat around your stomach, which
                can raise your risk of heart disease, type 2 diabetes and stroke.<br>

                You can have a healthy BMI and still have excess tummy fat, meaning you're still at risk of developing
                these conditions.<br>
                <ul>
                 Regardless of your height or BMI, you are at risk if your waist is:
                
                <li>
                94cm (37ins) or more for men
                </li>
                <li>
                80cm (31.5ins) or more for women
                </li>
                </ul>
                <ul>
                You're at very high risk and should contact a GP if your waist is:
                <li>
                102cm (40ins) or more for men
                </li>
                <li>  
                88cm (34ins) or more for women
                </li>
                </ul>
                </p>    

        </div>

     </div>
{% endblock %}